@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 22%, rgb(43, 63, 110) 90%);
    background-size: 100% auto;
    font-weight: 400;
}

/* Style for "Sudah Bayar" status */
.status-sudah-bayar {
    color: #4CAF50;
  }
  
  /* Style for "Belum Bayar" status */
  .status-belum-bayar {
    color: #FF0000; 
  }

  #table-body {
    max-height: 350px;
    overflow-y: scroll;
}
  