/* CSS untuk ukuran layar dengan lebar maksimum 720px (mobile) */
@media screen and (max-width: 720px) {
    .proyek {
      gap: 10px; /* Menghapus padding horizontal pada container */
    }
  
    .proyek {
      grid-template-columns: 1fr; /* Menampilkan satu kolom untuk tampilan mobile */
      gap: 1rem; /* Mengatur jarak antar card */
    }
  
    .card-1 {
      width: 100%; /* Mengisi seluruh lebar layar */
    }
  
    .hero {
      margin-right: 5px !important;
      margin-top: 0px !important;
    }
  
    .hero h1 {
      font-size: 38px;
    }
  
    .hero img {
      display: none;
    }
  
    .hero p{
      text-align: end;
      font-size: 16px;
      font-weight: 400;
    }
  
    .hero h3 {
      font-size: 28px;
    }
  
    .slider-container img {
      object-fit: cover;
    }
  
    .about-card {
      display: flex;
      flex-direction: column !important;
    }
  
    .about-card p{
      padding: 0px !important;
    }
  
    #about h2{
      margin: 70px;
    }
  
    /*performa*/
    .performa-card {
      display: flex;
      flex-direction: column;
    }
    
    .performa-container p {
      color: black;
    }
  
    .performa-container {
      margin: 0px !important;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .card {
      border-radius: 150px !important;
      width: 145px;
      height: 145px;
      margin: 0px !important;
    }
  
    .card img {
      margin: 0px !important;
    }
  
    .proyek {
      display: flex !important;
      flex-direction: column !important;
      gap: 5px;
    }
  
    nav {
      position: relative !important;
      justify-content: space-between !important;
      width: auto;
      margin: 0px !important;
    }
  
    .nav-title, .home {
      display: none;
    }
  
    nav img {
      margin-left: 10px !important;
    }
  
  
  }
  
  /* CSS untuk ukuran layar dengan lebar lebih dari 720px (desktop) */
  @media screen and (min-width: 721px) {
    .proyek {
      grid-template-columns: repeat(3, 1fr); /* Menampilkan tiga kolom untuk tampilan desktop */
    }
  
  }