@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, arial;
  }
}
    /* CSS styling untuk halaman */
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 22%, rgb(43, 63, 110) 90%);
    }
  
    .navbar {
      transition: background-color 0.3s ease;
    }
    .navbar.scrolled {
      background-color: rgba(6, 6, 15, 0.432);
      backdrop-filter: blur(2.5px);
    }

    .dropdown-menu {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  
    .dropdown-menu.active {
      opacity: 1;
      transform: translateY(0);
      background-color: white;
    }

    .dropdown-menu .fas.fa-chevron-down {
      transition: transform 0.3s;
    }
    
    .dropdown-menu.show .fas.fa-chevron-down {
      transform: rotate(180deg);
    }